iWant.xcodeproj/project.xcworkspace/xcuserdata/pango.xcuserdatad/UserInterfaceState.xcuserstate
iWant.xcodeproj/xcuserdata/pango.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

